/*
	Thomas Wible interview site
*/

html, body{
	font-family: Arial, Helvetica, sans-serif;
}

li{
	margin: 5px 0;
}

#content{
	padding: 25px 50px;
}

#map-area-live{
	display: none;
}

#map, #map-live{
	display: inline-flex;
	width: calc(100% - 305px);
	height: 700px;
}

.layers{
	display: inline-block;
	width: 300px;
	height: 700px;
	vertical-align: top;
}

.layers fieldset{
	height: 680px;
}

.layers fieldset label{
	text-align: left;
	width: 233px;
	margin-bottom: 5px;
}

#button-area{
	margin: 10px 0 20px 0;
}

#nws, #feedback-area, #preparedness{
	margin: 3px auto;
	padding: 0 10px;
	max-width: 1000px;
	border: 1px solid black;
	border-radius: 20px;
}

#feedback-form{
	margin: 10px 0;
}

#feedback-form input{
	margin: 5px 0;
}

label textarea{
	vertical-align: middle;
}

/* switches the site to mobile view when at 1000px or less */
@media screen and (max-width:1000px) {

#content{
	padding: 5px;
}

#map, #map-live{
	display: flex;
	width: 100%;	
	height: 500px;
}

.layers{
	display: block;
	width: 100%;
}

.layers, .layers fieldset{
	height: auto;
}

}
